body{
    font-family: 'Fira Code', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171717;
    height: 100vh;
    width: 100%;
}

#container{
    height: 100vh;
    width: 100%;
}

#option{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    min-width: 300px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.option-select{
    display: flex;
    justify-content: space-around;
}

#option h1{
    text-align: center;
    color: #fff;
    margin: 36px 0;
}

.option-link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border: 2px solid #fff;
    padding: 10px 18px;
    cursor: pointer;
}
