body{
    font-family: 'Fira Code', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171717;
    height: 100vh;
    width: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container{
    height: 100vh;
    width: 100%;
}

#chat-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    min-width: 450px;
    width: 35%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

#chat-content{
    display: flex;
}

#chat-friends{
    padding: 20px 0 30px 20px;
    display: flex;
    flex-direction: column;
}

#friends-form{
    display: flex;
}

#friends-select-btn{
    width: 60%
}

#friends-select{
    padding: 10px 0;
    width: 100%
}

#friends-option{
    width: 40%
}

.selected-list{
    border: 2px solid #fff;
    height: 100%;
}

.friends-add{
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin: 7px 0;
    cursor: pointer;
}

.select-btn{
    width: 50%;
    border-left: none !important;
}

.friends-btn{
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 4px 0;
    cursor: pointer;
}

#friends-select, #friends-option{
    display: flex;
    align-items: center;
}

#chat-header h1{
    color: #fff;
    text-align: center;
}

#chat-header p{
    margin: 0;
    color: #fff;
    text-align: center;
}

#chat-area{
    overflow: auto;
    margin-bottom: 30px;
    height: 40vh;
    width: 100%;
    border: 2px solid white;
}

.chat-send{
    background-color: #fff;
    color: #171717;
    border: none;
    outline: none;
    padding: 6px 12px;
    font-weight: 600;
    cursor: pointer;
}

.chat-input{
    border: none;
    color: #fff;
    margin: 10px auto;
    border-bottom: 1px solid hsla(0, 0%, 100%, .5);
    background-color: transparent;
    outline: none;
    width: 70%;
    padding: 0 5px;
    font-size: 18px;
}

#chat-form{
    display: flex;
    justify-content: space-around;
}

.error{
    margin-bottom: 20px;
    text-align: center;
    color: #6f42c1;
}

.event-message p{
    margin: 6px 0;
    text-align: center;
    color: #fff;
}

.chat-message{
    display: flex;
    color: #fff;
    align-items: center;
    padding: 0 20px;
}

.chat-message p{
    margin: 6px 0 6px 6px;
}

.active{
    color: #171717;
    background-color: #fff;
}

#invite, #invitation{
    display: none;
}
