body{
    font-family: 'Fira Code', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171717;
    height: 100vh;
    width: 100%;
}

#container{
    height: 100vh;
    width: 100%;
}

#chat-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    min-width: 450px;
    width: 35%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

#chat-header h1{
    color: #fff;
    text-align: center;
}

#chat-area{
    margin-bottom: 30px;
    height: 40vh;
    width: 100%;
    border: 2px solid white;
}

.chat-send{
    background-color: #fff;
    color: #171717;
    border: none;
    outline: none;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.chat-input{
    border: none;
    color: #fff;
    margin: 10px auto;
    border-bottom: 1px solid hsla(0, 0%, 100%, .5);
    background-color: transparent;
    outline: none;
    width: 70%;
    padding: 0 5px;
    font-size: 18px;
}

#chat-form{
    display: flex;
    justify-content: space-around;
}