<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
    <div id="chat-page">
        <div id="chat-container">
            <div id="chat-header">
                <p>Public Chat</p>
            </div>
            <div class="connecting">
                Connecting...
            </div>
            <div id="chat-area">

            </div>
            <form id="chat-form" autocomplete="off" name="chat-form">
                <p class="chat-username">Logged as: <span id="username"></span></p>
                <input type="text" id="message" placeholder="Type your message..." class="chat-input"/>
                <div>
                    <button type="submit" class="chat-send">Send</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>